
.police1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.police2{
  font-family: 'Poppins', sans-serif; 
  
}

.btn-search {
  background-color: #ffd932;
  color: black;
  font-weight: bold;
  margin-left: -50px;
}

header i {
  font-size: 25px;
}


input {
  font-size: 20px;
  font-family:cursive;
  /* opacity: .5; */
}
.button-vert {
  background-color: #58b58d;
  color: #fff;
}
.button-vert:hover {
  background-color: #fff;
  border-color: #58b58d;
  color: #58b58d;
  
}


.imageBannier {
  background-image: url('./images/living-3428529_1280.jpg');
  height: 440px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}

.box-Sha {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.background {
  background-color: #d6e3d8;
  height: 60px;
}

.z {
  background-color: #58b58d;
  clip-path: circle(50% at 50% 50%);
  padding: 10px 20px;
  color: white;
  font-style: italic;
  font-weight: 100;
}

.card-vendeur {
  width: 22rem; 
  margin-top:-121px;
}

.card-vendeur h2 {
  color: #58b58d;
}
.card-vendeur h5 {
  font-size: 15px;
}

.card-vendeur p {
  font-size: 12px;
  font-weight: 100;
}

.card-vendeur a {
  background-color: #58b58d;
  color: white;
}

.arrow, 
.calendar {
  color: #58b58d;
  font-size: 20px;
}

.accordion-body {
  font-size: 12px;
}

.background-card-article {
  background-color: #29362e;
  color: white;
  height: 40px;
  width: 100%;
  font-weight: 100;
  padding-top: 10px;
  border-radius: 0 0 3px 3px;
  
}

.panier {
  background-color: #ffd932;
  width: 60px;
  height: 35px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 40px;
  text-align: center;
}

.gray {
  color: rgb(175, 174, 174);
  font-weight: 500;
}

.btn-mondialrelay {
  background-color: #d6e3d8 ;

}
.btn-mondialrelay i {
  color: orangered;
}

.full {
  -webkit-transition: all 1s ease; 
  -moz-transition: all 1s ease; 
  -ms-transition: all 1s ease; 
  -o-transition: all 1s ease; 
  transition: all .5s ease-out;
}
  
.full:hover{   
  -webkit-transform:scale(1.10); 
  -moz-transform:scale(1.10); 
  -ms-transform:scale(1.10); 
  -o-transform:scale(1.10); 
   transform:scale(1.10);
}



.slider {
  overflow: hidden;
  display: flex;
  
}

.owl-prev {
  left: -15px;
}
.owl-next {
  right: -15px;
}
.owl-prev , .owl-next {
  position: absolute;
  top: 90px;
}
.owl-prev span , .owl-next span {
  font-size: 80px;
  color: rgb(9, 126, 106);
} 



/* @media (max-width: 690px) {
  .margin{
    margin-left: 0;
  } */

  


